<!-- components/features/features.component.html -->
<section class="features-section">
  <h2 class="section-title">Why Choose Angular?</h2>
  <div class="features-grid">
   <!-- Using @for -->
@for (feature of features; track feature) {
  <mat-card class="feature-card">
    <mat-card-header>
      <mat-icon>{{feature.icon}}</mat-icon>
      <mat-card-title>{{feature.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{feature.description}}</p>
    </mat-card-content>
  </mat-card>
}
  </div>
</section>